<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="..\static\css\homepage_style.css" />
    <link rel="icon" type="image/x-icon" href="..\static\images\favicon.png" />
    <title>confessions.com</title>
</head>

<body>
    <img src="..\..\static\images\logo.png" alt="logo">
    <h1 class="title">The only place where you can see the latest crimes. It's the details the news doesn't tell you.
    </h1>
    <a href="login" class="button login">Log In</a>
    <a href="signup" class="button signup">Sign Up</a>
    <p class="copyright">© Cameron Guglielmino Productions 2025 Pty Ltd.</p>
</body>

</html>