<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="..\static\css\style.css" />
    <link rel="icon" type="image/x-icon" href="..\static\images\favicon.png" />
    <title>confessions.com - Submit Crimes</title>
    <nav>
        <ul>
            <li><a href="top_crimes">Top Crimes</a></li>
            <li><a href="search_crimes">Search Crimes</a></li>
            <li class="selected">Submit Crimes</li>
            <li><a href="leaderboard">Leaderboard</a></li>
            <li><a><img src="..\static\images\logo.png" alt="logo" class="logo"></a></li>
        </ul>
    </nav>
</head>

<body>
    <h1 class="tc">Submit Crimes</h1>
    <h4 class="tc">Submit your own crimes! (We don't judge)</h4>
    <label>
        Your Story Here: <br>
        <input size="60" style="height: 50px; margin-left: 140px; text-align: left;" placeholder="Write here...">
    </label><br>
    <label>
        Your Title Here: <br>
        <input size="60" style="height: 50px; margin-left: 140px; text-align: left;" placeholder="Write here...">
    </label><br>
</body>

</html>